<head>
    <link rel="stylesheet" href="/css/genreList.css">
</head>
    <h1>Genres</h1>

    <ul>
        {{#each genres}}
            <li>
                <a href="/genres/{{id}}/games">{{name}}</a>
            </li>
        {{/each}}
    </ul>

    <a href="/">Back to Home</a>

