<head>
  <link rel="stylesheet" href="/css/header.css">
</head>

<header>
  <div class="logo">
    <h1>Vapeur</h1>
  </div>
  <nav>
    <ul>
        <li><a href="/">Accueil</a></li>
        <li><a href="/games">Jeux</a></li>
        <li><a href="/genres"> Genres </a></li>
        <li><a href="/publishers"> Editeurs</a></li>
    </ul>
  </nav>
</header>