<link rel="stylesheet" href="/css/home.css">

<h1>Welcome</h1>

<h2>Featured Games</h2>
<ul>
  {{#if featuredGames.length}}
    {{#each featuredGames}}
      <li>
        <a href="/games/{{game.id}}/details"><strong>{{game.title}}</strong> </a> - {{game.description}} 
      </li>
    {{/each}}
  {{else}}
    <p>No featured games yet!</p>
  {{/if}}
</ul>
<a href="features/">pour aller vers le sfeatured</a>
