<h1>Welcome</h1>
    <ul>
        <li><a href="/genres">List Genres</a></li>
        <li><a href="/genres">List Genres</a></li>
        <li><a href="/genres/show">Genre Details</a></li>
        <li><a href="/publishers"> Voir les éditeurs</a></li>
    </ul>
<div>
    <a href="/publishers">
        <button>Voir les éditeurs</button>
    </a>
</div>  
