<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>project-vapeur</title>
</head>
<body>
    <h1>Welcome</h1>
    <ul>
        <li><a href="/genres">List Genres</a></li>
        <li><a href="/genres/show">Genre Details</a></li>
        <li><a href="/publishers"> Voir les éditeurs</a></li>
    </ul>
    <div>
    <a href="/publishers">
        <button>Voir les éditeurs</button>
    </a>
</div>

    <ul>
    {{#each genre}}
        <li>
            <a href="/genres/{{id}}/games">{{type}}</a>
        </li>
    {{/each}}
    </ul>
</body>
</html>

