<head>
  <link rel="stylesheet" href="/css/publishersGames.css">
</head>

<h1>Edit Publisher</h1>

<form action="/publishers/edit/{{publisher.id}}" method="POST">
  <label for="publisherName">Publisher Name:</label>
  <input
    type="text"
    id="publisherName"
    name="publisherName"
    value="{{publisher.publisher}}"
    required
  />
  <button type="submit">Save Changes</button>
</form>

<a href="/publishers">Back to Publishers List</a>
