<head>
  <link rel="stylesheet" href="/css/publishersGames.css">
</head>
<h1>Jeux de l'éditeur : {{publisher}}</h1>
<ul>
  {{#each games}}
    <li>
      <a href="/games/{{id}}/details">{{title}}</a> - {{formatTime releaseDate}}
    </li>
  {{/each}}
</ul>
<a href="/publishers">Retour à la liste des éditeurs</a>
