<h1>Jeux de l'éditeur : {{publisher}}</h1>
<ul>
  {{#each games}}
    <li>
      <a href="/games/{{id}}">{{title}}</a> - {{releaseDate}}
    </li>
  {{/each}}
</ul>
<a href="/publishers">Retour à la liste des éditeurs</a>
